<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Page</title>

    <link rel="icon" href="assets/img/infi.png" />
    <link rel="stylesheet" href="global-font.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <nav class="nav-container">
      <div class="navbar-left">
        <a href="#">
          <img class="web-logo" src="assets/img/infi.png" alt="web logo" />
        </a>
        <ul class="navbar-links">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="blog.html">Blog</a>
          </li>
        </ul>
      </div>

      <div class="navbar-right">
        <a href="contact.html" class="contact-link">Contact Me</a>
      </div>
    </nav>

       <!-- BLOG DETAIL SECTION -->
       <article class="blog-detail">
        <h1>Pasar Coding di Indonesia</h1>

        <p>30 Jan 2025 11:22 WIB | Alex Josua</p>

        <img src="assets/img/blog-img-detail.png" alt="blog-image">

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam nostrum assumenda, voluptates maiores sequi quisquam pariatur voluptatem non consequuntur dolor architecto, unde magni enim itaque. Nostrum quod veniam quaerat modi ducimus accusamus dolorem, repellat iusto, autem, ex in nesciunt eos mollitia quo numquam deserunt pariatur aut fugiat id maiores enim.</p>
    </article>


    
</body>
</html>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js'></script>
        <script>
          var template = Handlebars.compile("Handlebars <b>{{doesWhat}}</b>"); console console.log(template({ doesWhat: "rocks!" }));
        </script>
  </body>
</html>
