{{#>layout}}  
<body class="bg-light">
  <main>
    <!-- PROFILE CARD -->
    <div class="container py-5 d-flex justify-content-center">
      <div class="card shadow-lg border-0 p-4" style="max-width: 600px">
        <div class="card-body text-center">
          <h1 class="fw-bold text-primary">Hello, I'M Daffa</h1>
          <div class="d-flex flex-column align-items-center">
            <img
              class="rounded-circle border border-3 border-primary mb-3"
              src="assets/img/pp.jpeg"
              alt="photo"
              width="150"
              height="150"
            />
            <h3 class="fw-semibold">M Daffa</h3>
            <h5 class="text-secondary">Fullstack Developer</h5>
          </div>
          <p class="text-muted px-3">
            Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.
          </p>
        </div>
      </div>
    </div>

    <!-- BUTTONS -->
    <div class="d-flex justify-content-center gap-3 mt-4">
      <a href="/contact" class="btn btn-primary px-4 py-2 shadow-sm">Contact Me</a>
      <a href="/contoh-cv.pdf" download class="btn btn-outline-dark px-4 py-2 shadow-sm">
        Download CV <i class="fa-solid fa-download ms-2"></i>
      </a>
    </div>

    <!-- SOCIAL MEDIA ICONS -->
    <div class="text-center mt-4">
      <a href="https://www.linkedin.com/in/mohammad-daffa-b3738216a/" class="text-primary mx-2 fs-3">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://www.facebook.com/daffadaffamdf" class="text-primary mx-2 fs-3">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="https://www.instagram.com/fadaffa_/" class="text-danger mx-2 fs-3">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://x.com/daffa6690" class="text-dark mx-2 fs-3">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
    </div>
  </main>

  <!-- Bootstrap JS -->
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>
{{/layout}}
