{{#>layout}}  
  <body>


    <main>
    <!-- PROFILE CARD -->
    <div class="card">
      <div class="container-card">
        <h1 class="nameprofile">Hello I'M Daffa</h1>
      </p>
         <div class="card-image">
          <div class="card-image-right">
            <img class="box-img" src="/img/pp.jpeg" alt="photo" />
            <div class="text-image">
            </div>
              <h3>M Daffa</h3>
              <h5>Fullstack Developer</h5>
          </div>
         </div>
      </div>
          <p class="text-profile">
            Lorem Ipsum has been the industry's standard dummy text ever since the
            1500s, when an unknown printer took a galley of type and scrambled it
            to make a type specimen book. It has survived not only five centuries,
            but also the leap into electronic typesetting, remaining essentially
            unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently
            with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.
          </p>
        </div>
      </div>
      <div class="card-btn-link">
        <a href="contact.html" class="button"><span>contact me</span></a>
        <a downlCv href="/contoh-cv.pdf" download
          ><p>
            Download CV
            <span><i class="fa-solid fa-download"></i></span></p
        ></a>
      </div>
      <div class="icons">
        <a href="https://www.linkedin.com/in/mohammad-daffa-b3738216a/"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
        <a href="https://www.facebook.com/daffadaffamdf">
          <i class="fa-brands fa-square-facebook"></i
        ></a>
        <a href="https://www.instagram.com/fadaffa_/"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a href="https://x.com/daffa6690"
          ><i class="fa-brands fa-square-x-twitter"></i
        ></a>
      </div>
    </div>

    <!-- INTRODUCTION SECTION -->
    </main>
  </body>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <!-- Include Handlebars from a CDN -->
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script>
  // compile the template
  var template = Handlebars.compile("Handlebars <span>{{doesWhat}}</span>");
  // execute the compiled template and print the output to the console
  var objectToSend = {
    doesWhat: "paper!"
  }
  console.log(
    template({ doesWhat: "rocks!" }));
</script>
{{/layout}}
