{{#> layout}}
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />

<div class="container py-4">
  <h1 class="text-center mb-4">Testimonial</h1>
  <div class="d-flex justify-content-center gap-2 mb-4">
    {{#each ratings}}
      <button
        onclick="filterTestimonialsByStar({{this}})"
        class="btn btn-secondary"
      >
        {{this}}
        <i class="bi bi-star-fill ms-1"></i>
      </button>
    {{/each}}
    <button onclick="showAllTestimonials()" class="btn btn-danger">
      Reset
    </button>
  </div>
  <div class="row" id="testimonial-list"></div>
</div>

<script src="/assets/js/testimonial.js"></script>
{{/layout}}
