@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@media screen and (max-width: 768px) {
}
.body {
  margin: 0;
}
/* card */
.card {
  border-style: none;
  border-color: #6b6969;
  box-shadow: 0px 0px 40px #aaaaaa;
  width: 900px;
  padding: 5px;
  margin: 0;
  background-image: url(/assets/img/bg.jpeg);
  background-size: cover;
}
.container-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nameprofile {
  font-weight: 800px;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: rgb(49, 47, 47);
}
.text-profile {
  color: #000;
  font-family: "poppins", sans-serif;
  width: 80%;
  margin: 0;
  text-align: justify;
}
/* image */
.card-image {
  flex: 0;
  padding: 10px;
  box-shadow: red;
}
.card-image-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-img {
  width: 300px;
  padding-top: 20px;
  height: 80%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.text-image {
  text-align: center;
  font-size: 20px;
}
.card-btn-link {
  padding: 10px;
}
.downlCv {
  color: black;
  text-decoration: none;
  font-weight: 200;
}
.button {
  margin: 10px;
  padding: 7px 32px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 16px;
  background-color: #4276d8;
  border: none;
  border-radius: 15px;
  font-family: "poppins";
}
.icons {
  display: flex;
}
.icons a {
  width: 60px;
  height: 60px;
  position: relative;
  font-size: 35px;
  text-align: center;
  line-height: 60px;
  color: rgb(0, 0, 0);
  margin: 0 10px;
  padding-top: 15px;
}

/* Navbar */
.nav-container {
  background-color: #dedede;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 30px;
  margin: 0;
}

/* .menu-active {
  color: rgb(0, 183, 255); important
  
} */

nav a {
  font-size: 30px;
  text-decoration: none;
  font-family: "poppins", sans-serif;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.web-logo {
  width: 60px;
  padding-left: 0;
}

.contact-link {
  color: white;
  background-color: rgb(0, 183, 255);
  border: 1px solid rgb(0, 183, 255);
  border-radius: 15px;
  padding: 5px 20px;
}

/* Contact Styles */

.contact-section {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "poppins", sans-serif;
}

.contact-section h1 {
  align-items: center;
}

.contact-form {
  width: 400px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 30px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 10px;
}

.form-label {
  font-size: 18px;
}

.form-input {
  border-radius: 5px;
  border: 1px solid #cacaca;
  padding: 7px;
  font-size: 18px;
  background-color: #dedede;
}

.form-submit-button {
  color: white;
  background-color: rgb(0, 183, 255);
  border: 1px solid rgb(0, 183, 255);
  border-radius: 5px;
  padding: 5px 20px;
}

/* BLOG PAGE STYLES */

.section-title {
  text-align: center;
}

.blog-form {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  font-family: "poppins";
}

.form-container {
  width: 500px;
}

.input-blog-image-group {
  width: 100%;
  height: 40px;
  font-size: 18px;
  padding: 0 8px;
  box-sizing: border-box;
  border: 1px solid #dedede;
  border-radius: 5px;
}

.input-blog-image-group label {
  display: flex;
  align-items: center;
  height: 100%;
}

.form-container button {
  margin-top: 30px;
  padding: 8px 20px;
  color: white;
  background-color: rgb(0, 183, 255);
  border: none;
  border-radius: 5px;
}

.button-group {
  text-align: right;
}

hr {
  width: 80%;
}

/* BLOG LIST */
.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px auto;
  width: 90%;
}
.blog-list {
  width: 80%;
  margin: 30px auto 300px;
}

.blog-list-item {
  display: flex;
  gap: 20px;

  border: 1px solid #dedede;
  padding: 20px;
}

.blog-image {
  flex: 1;
}

.blog-image img {
  height: 100%;
  width: 100%;
}

.blog-content {
  flex: 2;
}

.btn-group {
  text-align: right;
}

.btn-edit {
  padding: 8px 20px;
  color: black;
  background-color: #dedede;
  border: none;
  border-radius: 5px;
}

.btn-post {
  padding: 8px 20px;
  color: white;
  background-color: rgb(0, 183, 255);
  border: none;
  border-radius: 5px;
}

.blog-item-title {
  text-decoration: none;
}

.blog-text {
  margin: 0;
}

.relative-time {
  color: #a2a2a2;
  font-size: 14px;
  text-align: right;
}

/* BLOG DETAIL STYLES */
.blog-detail {
  width: 60%;
  margin: 40px auto;
}

.blog-detail img {
  width: 100%;
}
